{
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "jsxBracketSameLine": true,
        "arrowParens": "always",
        "parser": "babel"
      }
    }
  ]
}
